@p-face {
  font-family:kufi;src:url(../external.html?link=http://:/) format('no404'),url(DroidKufi-Regular.ttf) format('truetype');font-weight:400;font-style:normal;font-display:swap
}

body {
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: Kufi,Tahoma;
  font-size: 13px;
  color: #4a4a4a;
  background: url(images/bg_grey.png)
}


.azkar {
  margin: 5px;
  padding: 10px;
  background: #fff;
  border-bottom: 2px solid #198790
}

.azkar p {
  font-size: 6px;
  padding: 0px;
  line-height: 2em
}

.azkar p:hover,.azkar p:active {
  background: #d9f2f6;
  color: #4a4a4a
}

.azkar p:hover strong,.azkar p:active strong,.azkar p:hover b,.azkar p:active b {
  color: #4a4a4a
}

.azkar .counter {
  height: 0%;
  min-height: 150px;
  background: #04b5c7;
  color: #fff;
  text-align: center;
  font-weight: 700;
  padding: 0px;
  border-radius: 10px;
  cursor: pointer;
  position: relative
}

.azkar .counter_times {
  height: 100%;
  font-size: 40px;
 text-align: center;
 margin-top: 30px;
}

.azkar .counter_title {
  font-size: 14px
}

.azkar .counter img {
  width: 25px;
  margin-top: 30px;
  float: left;
  position: absolute;
  bottom: 2px;
  left: 2px
}

.azkar .counter .counter_reset {
  border: 1px solid #000
}

select,input,textarea {
  direction: rtl
}

.navbar-nav li a {
  padding: 10px 5px;
  color: #fff;
  display: block
}

.navbar-nav li a:hover {
  background: #87346c
}

.bg-custom {
  background: #04b5c7
}

.emsakia_btn {
  text-align: center
}

.emsakia_btn a {
  display: block;
  background: #ca0000;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px
}

@media(max-width:768px) {
  .country_list {
    padding: 0;
    margin: 0
  }

  .country_list li {
    min-width: 285px;
    padding-left: 5px;
    margin: 14px 5px
  }}

@media(max-width:468px) {
  .country_list li,.city_list li {
    width: 95%
  }}
	
